a {
    margin: 0;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}


.crab-button {
    position: relative;
    left: 3vw;
    font-size: 30px;
    margin-right: auto;
}

.link {
    position: relative;
    right: 3vw;
    font-size: 20px;

}

.other-links {
    position: relative;
    right: 7vw;
    font-size: 17px;
}

.join-button {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
}