a {
    margin: 0;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
    border: 1px solid black;
}


.crab-button {
    
}