a {
    margin: 0;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    transform: scale(1.25);
    margin-top: 20px;
}


.crab-button {
    position: relative;
    left: 3vw;
    font-size: 30px;
    margin-right: auto;
}

.link {
    position: relative;
    right: 3vw;
    font-size: 20px;

}

.other-links {
    position: relative;
    right: 7vw;
    font-size: 17px;
}

.join-button {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
}

.login-button {
    position: relative;
    left: 3vw;
    padding-left: 10px;
    font-size: 20px;
}

.nav-button {
    position: relative;
    right: 7vw;
    padding-left: 10px;
}

/* forms */

.all-cred-form-pages {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
    padding-bottom: 20px;
}

.cred-form {
    text-align: center;
    margin: 0 auto;
}

#email  {
    height: 25px;
    width: 175px;
    border-radius: 15px;
}

#email::placeholder {
    position: relative;
    left: 10px;
}

#password {
    height: 25px;
    width: 175px;
    border-radius: 15px;
}

#password::placeholder {
    position: relative;
    left: 10px;
}

#submit {
    background: white;
    height: 25px;
    width: 80px;
    border-radius: 15px;
}
