<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verify your CRAB.DIY account 🦀</title>
</head>
<body>

    <div style="width: 600px; margin: auto;">
        <h3 style="font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        text-align: left;">Hi, {{ user.username }}.</h3>

        <p style="font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        ">You're almost ready to go. Just click the link below to verify your account. This link will expire in 36 hours.</p>

        <p style="font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        text-align: left; margin-top: 25px;"><a href="{{ verify_url }}"> {{ verify_url }}</a></p> 

        <p style="font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        ">If you didn't create this account, just ignore this email.</p>
        
    </div>

</body>
</html>