{% extends 'base.html' %}

{% block head %}
<title>crab.diy | Dashboard</title>
{% endblock %}

{% block body %}

<p>γεια, {{ current_user.username }}</p>

<h1>αν το βλεπεις αυτο, δουλευει.</h1>

    <!-- <h1>γεια μανο δεν μπορεις να κανεις κατι στην σελιδα σου. να την φτιαξεις και τετοιες μαλακιες. <br>
    ουτε θα εχεις αυτο το account οταν παει live το website, οποτε ναι. αλλα σε ευχαριστω που με<br>
    βοηθησες να το τεσταρω🦀</h1>
        <br>
    <h1 class="text-sm">
       ( Αμα δεν εισαι ο μανος τοτε ΔΕΝ ξερω πως το βρηκες αυτο αλλα οκ )
    </h1>
        <br>
    <h1>
        επισης αμα βλεπεις το ui και πιστευεις οτι ειναι για τον πουτσο, εχεις δικιο αλλα επισης<br>
        γαμιεσαι. επισης επισης, ευχαριστω για το email σου
    </h1> -->

    <br><a href="{{ url_for('logout') }}">logout</a>
    <br><a href="{{ url_for('index') }}">home</a>

{% endblock %}