{% extends 'base.html' %}

{% block head %}
<title>crab.diy | Home</title>
{% endblock %}

{% block body %}
    <nav>  
        <a class="crab-button" href="{{ url_for('index') }}">crab<span class="dot">.</span>diy</a>
        <div class="other-links">
            <a class="nav-button" href="#">Features</a>
            <a class="nav-button" href="#">Pricing</a>
            <a class="nav-button" href="#">Discord</a>
        </div>
        <div class="link">
            {% if current_user.is_authenticated %}
            <a class="join-button" href="{{ url_for('dashboard') }}">Dashboard</a>
            {% else %}
            <a class="join-button" href="{{ url_for('register') }}">Join For Free</a>
            {% endif %}
        </div>
    </nav>

    <h1> {{ username }} </h1>
{% endblock %}