{% extends 'base.html' %}

{% block head %}
<title>crab.diy | Login</title>
{% endblock %}

{% block body %}
<div class="bg-[#0a0a0f] min-h-screen flex items-center justify-center text-white">
    <div class="w-100 p-6 rounded-2xl bg-white/5 backdrop-blur-xl border border-white/10  text-center">
        <h1 class="text-lg font-medium mb-2">Log in to your account</h1>
        <div>
            <form class="flex flex-col relative items-center mt-2" action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.email }} <br>
                <div class="-mt-4.5"></div>
                {{ form.password }} 
                <div class="-mt-2"></div>
                {{ form.submit }} <br>
            </form>
        </div>
        <a href="{{url_for('register')}}" class="text-sm text-white/70 hover:text-white">need an account?</a>
        <div class="mt-1"></div>
        <a href="{{url_for('index')}}" class="text-sm text-white/70 hover:text-white">home</a>
    </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}