@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@source "../templates/**/*.html";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-bubbles: "Fuzzy Bubbles", system-ui, ui-sans-serif, sans-serif;
  --font-index: "Onest", system-ui, ui-sans-serif, sans-serif;
  --font-arimo: "Arimo",system-ui, ui-sans-serif, sans-serif
}